<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/head')%>
    <body>
        <%- include('layouts/nav')%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/login-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Login</h1>
                            <span class="subheading">Access your account</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p><strong>Welcome back, Clean News writers!</strong> Log in to embark on another day of insightful storytelling, enlightening our readers and making a difference with your words.</p>
                        <div class="my-5">
                            <!-- enctype: This form now encyps media data before upload to server -->
                            <% if(errors != null && errors.length > 0){ %>
                                <ul class="list-group"></ul>
                                <% errors.forEach(error => { %>
                                    <li style="margin-bottom: 10px" class="list-group-item list-group-item-danger"><%= error %></li>
                                <%  }) %>
                                </ul>
                            <% } %>
                            <form id="contactForm" action="/users/session" method="post" enctype="multipart/form-data"> 
                                <div class="form-floating">
                                    <input class="form-control" id="username" name="username" value="<%= username %>" type="text" placeholder="Enter your user name..."/>
                                    <label for="username">User name</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="password" name="password" value="<%= password %>" type="password" placeholder="Enter your passworde name..."/>
                                    <label for="password">Password</label>
                                </div>
                                <br />
                                <!-- Submit Button-->
                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('layouts/footer') %>       
        <%- include('layouts/scripts') %> 
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
